<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.stroma.ecosurvey"
        versionCode="10" 
        version   = "1.0.1">
    <!-- versionCode is optional and Android only -->

    <name>ECO Reports</name>

    <description>
        Chartered surveyor report for hard-to-treat cavity wall insulation. 
    </description>

    <author email="waynecockram@gmail.com">
       Wayne Cockram
    </author>

	<preference name="phonegap-version" value="2.9.0" />
	<preference name="orientation" value="default" />
	<preference name="webviewbounce" value="true" />
	<preference name="exit-on-suspend" value="true" />
	<preference name="android-minSdkVersion" value="10" />
	<preference name="permissions" value="none"/>
</widget>